---
layout: splash
header:
  overlay_color: "#D8D8D8"
  overlay_filter: "0.5"
  overlay_image: /assets/images/home-wallpaper.jpg
intro: 
  - excerpt: 'Highly specialised software engineer, gathering 8 years of experience. Always trying to keep on learning by exploring new technologies and code languages. Here you can discover some of my projects.'


gallery:    
  - image_path: /assets/images/mercedes-screens.jpg
  - image_path: /assets/images/mercedes-me-logo.jpg
  - image_path: /assets/images/mercedes-visual.jpg
read_more:
  - description:
    excerpt: "Any time and anywhere. With the Mercedes me app on your iPhone or Apple Watch you have your personal point of entry to the world of Mercedes-Benz and direct access to your vehicle at your fingertips at all times."
    url: "/appsfactory/first-projects/mercedes-me"
    btn_label: "Read More"
    btn_class: "btn--primary"

feature_row2:
  - image_path: /assets/images/home-automation-visual.jpg
    title: "Home Automation"
    excerpt: 'Mercedes-Benz will debut in 2017, integration with Samsung SmartThings and Works With Nest home automation ecosystems.'
    url: "/appsfactory/first-projects/home-automation"
    btn_label: "Read More"
    btn_class: "btn--primary"

feature_row3:
  - image_path: /assets/images/revival-logo.jpg
    title: "Revival"
    excerpt: revival_desc_1_2
    url: "/revival"
    btn_label: "Read More"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}
<h1 class="archive__item-title">Mercedes me</h1>
{% include gallery %}
{% include feature_row id="read_more" type="center" %}
{% include feature_row id="feature_row2" type="left" %} 
{% include feature_row id="feature_row3" type="right" %}
