.splash_title {
    margin-top: 0em !important; 
    margin-bottom: 0.25em !important; 
}

.remove_margin_bottom {
    margin-bottom: 0em !important; 
}

.custom-link {
    color: #494e52;
    text-decoration: none;
    &:visited {
        color: rgb(70, 37, 122);
    }

    &:hover {
        color: #0E4D92;
    }
}

.nav_author_avatar {
    img {        
        border-radius: 50%;
        width: auto;
        max-width: 50px;
        
        @include breakpoint($small) {
            max-width: 50px;
        }

        @include breakpoint($medium) {
            max-width: 70px;
        }
         
        @include breakpoint($large) {
            max-width: 100px;
            padding: 5px;
            border: 1px solid $border-color;
        }
      }
}