h1 {
    &.archive__item-title {
        color: #182b4c !important;
    }
}

.archive__item-excerpt {
    p {
        color: #182b4c;
    }
}

.splash_title {
    margin-top: 0em !important; 
    margin-bottom: 0.25em !important; 
}

.remove_margin_bottom {
    margin-bottom: 0em !important; 
}

.remove_margin_top {
    margin-top: 0em !important; 
}

.custom-link {
    color: #494e52;
    text-decoration: none;
    
    &:visited {
        color: #182b4c;
    }

    &:hover {
        color: #0E4D92;
    }
}

.visible-links .masthead__menu-item a {
    &:hover {
        color: #0E4D92 !important;
    }

    &:active {
        color: #0E4D92 !important;
    }
    color: #182b4c !important;
}

.greedy-nav .visible-links a:before {
    background: transparent !important;
}

.nav_author_avatar {
    img {        
        border-radius: 50%;
        width: auto;
        max-width: 50px;
        
        @include breakpoint($small) {
            max-width: 30px;
        }

        @include breakpoint($medium) {
            max-width: 50px;
        }
         
        @include breakpoint($large) {
            max-width: 60px;
            padding: 3px;
            border: 1px solid $border-color;
        }
      }
}

/* Projects */

.page__content {
    h1.page__title {
        color: #182b4c !important;
    }

    p {
        color: #182b4c !important;
    }
}

.page__inner-wrap {
    h1.page__title {
        color: #182b4c !important;
    }

    p {
        color: #182b4c !important;
    }
}

/* container */

.project-container {
    display: inline-block; 
    vertical-align: top;

    @include breakpoint($small) {
        &.left {
            width: 30% !important;
        }
    
        &.right {
            width: 65% !important;
            margin-left: 20px !important;
        }        
    }

    &.left {
        width: 100% ;
    }

    &.right {
        width: 100% ;
        margin-left: 0px ;
    }
}

/* Multiple feature row */
.multiple_row_image {
    border-radius: $border-radius;
    
    &.bottom {
        margin-top: 10px;
    }
}

@include breakpoint($small) {
    .archive__item-teaser {
        &.teaser-small {
            width: span(3 of 22);
        }      
    }
}

div .archive__item-body {
    &.archive__item-body--left {
        float: left;
    }

    &.archive__item-body--right {
        float: right;
    }
}

